<body id="bg-edit-book">

<h1 class="mt-3 title">Editing Book</h1>

<div class=" mt-3">
	<%= render 'form', book: @book %>
	<div class="mt-3">
	<%= link_to '<< Back', @book, style:"color:#fff; float:left" %>
	
	</div>
</div>
</body>