footer {
  margin-top: 100px;
}
table,
td,
th {
  vertical-align: middle;
  border: none;
}
th {
  border-bottom: 1px solid #ddd;
}
.gravatar {
  height: 30px;
  width: auto;
}

.application-page {
  background-color: white ; 
  background-size: 100%;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-border,
.login-border {
  width: 350px;
  height: 450px;
  background-color: #2de3f7;
  border: 1px;
  border-color: white;
  border-radius: 20px;
  opacity: 1;
  text-align: left;
}

.login-contain,
.signup-contain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  text-align: center;
}

.login-button,
.signup-button {
  text-align: center;
}
