footer {
  /*margin-top: 0px;*/
  position:fixed;
 bottom:0;
 right:0; 
}
table,
td,
th {
  vertical-align: middle;
  border: none;
}
th {
  border-bottom: 1px solid #ddd;
}

.thead-pink {
  background-color: #ff0084;
  color: #fff;
}
.gravatar {
  height: 30px;
  width: auto;
}

/*header*/

li:hover {
    background-color: #fab9e6;
    color: #fff;
    border-radius: 3px;
}

.header-background{
  background-color: #ff0084;
}

.current-user {
  color: #fff;
}

/*application-body*/
.body-background{
  background-image: url('bg.jpg');
	  background-size: cover;

    

}

.bg-books {
  background-color: #f0e9ec;
}

/*footer*/

/*login-page . signup-page . confirm-page*/
.login-border, .signup-border, .confirmation-border, .forgot-password-border {
  width: 350px;
  height: 450px;
  background-color: #ff0084;
  border: 1px;
  border-color: white;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-border {
  height: 500px;
}

.title {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}

.email, .password, .first-name, .last-name, .confirm-password{
  border: 1px white;
  border-radius: 5px;
  font-family: "Helvetica Neue";
  line-height: 40px;
  height: 30px;
  width: 90%;
  text-align: center;
}

.login-button, .signup-button, .confirmation-button, .new-book-button, .reset-password-button {
  border-radius: 50px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  line-height: 40px;
  height: 40px;
  width: 90%;
  text-align: center;
  background-color: #f5593d;
  border-color: #f5593d;
  color: #fff;
  border: 1px #f5593d;

}

.errors-message {
  color: #fff;
  font-size: 15px;
  margin-bottom: 0; 
}

/*Create book*/

.create-book {
  height: 100%;
    width: 100%;
}

.new-book-border {
  width: 500px;
  height: 500px;
  background-color: #ff0084;
  border: 1px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.contain-new-book-border {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  color: #fff;
}


.input {
  width: 100%;
}


/*edit account*/
.edit-account {
  float: left;
}

.cancel-my-account{
  float: right;
}



/*show book*/
.book-title {
  font-size: 50px;
  font-weight: 300;
}

hr {
  border-top: 1px solid #ff0084;
}

.back, .edit, .more, .delete {
  background-color: #ff0084;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.back:hover, .edit:hover, .more:hover, .delete:hover{
  color: white;
  background-color: #fa6ea1;
}